<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title> <!--ejs파일의 키를 변수로 가져옴-->
</head>
<body>
    ejs 파일로 만든 html
    <img src="/static/img/cat.jpg">

    <br><hr><br>
    <h5>for문</h5>
    <% for(let i = 0; i< data.length; i++) { %> <!--한 덩어리로 인식할 수 있도록 중괄호 열고 ejs태그 닫기-->
        <div>안녕<%=data[i]%></div> <!--ejs 태그 안에 있으면 js파일의 변수 사용 가능-->
    <% } %>

    <br><hr><br>
    <h5>if문</h5>
    <% if(true) { %>

    <% } else if(true) { %>
    <% } else { %>
    <% } %>

    <br><hr><br>
    <h5>태그 안에 넣기</h5>
    <div style="color: red;"><%='안녕하세요'%></div>
    <div style="color: green;"><%='<span style="color:blue">안녕</span>'%>하세요</div> <!-- '=' 은 태그를 인식하지 못함-->
    <div style="color: green;"><%-'<span style="color:blue">안녕</span>'%>하세요</div><!-- '-' 는 태그인식 가능-->
    <!--'-'가 태그를 인식한다!-->
    <br><hr><br>
    <h5>include 함수</h5>
    <%-include('test.ejs')%> <!--불러올 파일의 상대경로-->
    <!--navbar같은 경우 따로 navbar ejs파일을 만들어두고-->
    <!--필요한 곳마다 include로 불러오는 식으로 사용-->

</body>
</html>